@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{
    --dark-purple: #1A1A40;
    --purple: #270082;
    --light-purple: #7A0BC0;
    --pink: #E358FA;
    --light-pink: #FF77FA;
    --txt-white: #FFFFFF;
    --dark-dark-purple: #0f0f24;
}

*{
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    margin: 0;
    background: var(--dark-purple);
}

body,button,input,select,textarea{
    font-family: 'Poppins', 'sans-serif';
    color: var(--txt-white);
}

h1{
    font-size: 34px;
    color: var(--pink);
}

h3{
    font-size: 26px;
}

p{
    font-size: 16px;
}

h1,h2{
    margin: 0;
    font-weight: 400;
}

button{
    transition: 0.2s;
    background: var(--light-purple);
    border: 0;
    border-radius: 16px;
    padding: 10px 40px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}

button:active{
    background: var(--purple);
    transition: 0.2s;
}

header{
    /* background-color: red; */
    height: calc(100vh - 85px);
    display: flex;
    align-items: center;
}

header .container{
    width: 50%;
    height: fit-content;
    padding: 0px 90px;
}

header .container img{
    display: none;
}

.logo{
    height: 60px;
}

nav{
    background-color: var(--dark-purple);
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 87px;
    padding: 0 90px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--pink);
    z-index: 1;
}

nav ul{
    display: flex;
}

nav ul a{
    color: var(--pink);
    font-size: 22px;
    text-decoration: none;
    margin: 0 29px;
    align-items: flex-start;
    text-align: center;
    /* border: solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 15px; */
}

nav ul a svg{
    display: none;
}

.about-me{
    height: calc(100vh);
    display: flex;
    padding: 90px;
}

.about-me .container{
    width: 50%;
    margin: 50px;
}

.about-me .img-container{
    padding-left: 80px;
}

.about-me .img-container img{
    width: 100%;
}

.about-me #logoif{
    width: 80%;
}

.servico{
    height: calc(100vh);
    padding: 90px;
}

.servico h1{
    margin-top: 20px;
    text-align: center;
}

.servico h3{
    font-weight: 400;
    text-align: center;
}

.servico .container{
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
}

.servico .container .serv1{
    position:relative;
    text-align: center;
}

.servico .container .serv1{
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 350px;
    background: var(--dark-dark-purple);
    /* mix-blend-mode: multiply; */
    border-width: 2px 2px 4px 4px;
    border-style: solid;
    border-color: var(--light-purple);
    /* filter: blur(4px); */
    border-radius: 15px;
}

.servico .container .serv1 p{
    margin: 5px;
}

.servico .container .serv1 svg{
    background-color: var(--dark-dark-purple);
    border-radius: 20%;
    border: solid var(--light-purple) 2px;
    padding: 5px;
    align-items: center;
    width: 104px;
    height: 104px;
    stroke-width: 1;
    margin-top: 30px;
}

.servico .container .serv2{
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 350px;
    background: var(--dark-dark-purple);
    /* mix-blend-mode: multiply; */
    border-width: 2px 2px 4px 2px;
    border-style: solid;
    border-color: var(--light-purple);
    /* filter: blur(4px); */
    border-radius: 15px;
}

.servico .container .serv2 p{
    margin: 5px;
}

.servico .container .serv2 svg{
    background-color: var(--dark-dark-purple);
    border-radius: 20%;
    border: solid var(--light-purple) 2px;
    padding: 5px;
    align-items: center;
    width: 104px;
    height: 104px;
    stroke-width: 1;
    margin-top: 30px;
}

.servico .container .serv3{
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 350px;
    background: var(--dark-dark-purple);
    /* mix-blend-mode: multiply; */
    border-width: 2px 4px 4px 2px;
    border-style: solid;
    border-color: var(--light-purple);
    /* filter: blur(4px); */
    border-radius: 15px;
}

.servico .container .serv3 p{
    margin: 5px;
}

.servico .container .serv3 svg{
    background-color: var(--dark-dark-purple);
    border-radius: 20%;
    border: solid var(--light-purple) 2px;
    padding: 5px;
    align-items: center;
    width: 104px;
    height: 104px;
    stroke-width: 1;
    margin-top: 30px;
}

.portfolio{
    height: calc(100vh);
    padding: 90px;
}

.portfolio h1{
    margin-top: 20px;
    text-align: center;
}

.portfolio h3{
    font-weight: 400;
    text-align: center;
}

.portfolio .container{
    margin-top: 50px;
    position: relative;
    flex-wrap: nowrap;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.portfolio .container .port{
    box-sizing: border-box;
    position: relative;
    background: var(--dark-dark-purple);
    border-width: 2px 4px 4px 4px;
    border-style: solid;
    border-color: var(--light-purple);
    border-radius: 15px;
}

.portfolio .container .port p{
    margin-left: 20%;
    margin-right: 20%;
}

.portfolio .container .port svg{
    background-color: var(--dark-dark-purple);
    border-radius: 20%;
    border: solid var(--light-purple) 2px;
    padding: 5px;
    align-items: center;
    width: 104px;
    height: 104px;
    stroke-width: 1;
    margin-top: 30px;
}

.curriculo{
    height: calc(100vh);
    display: flex;
    align-items: center;
}

.curriculo .container{
    width: 100%;
    height: fit-content;
    padding: 0 150px 0 100px;
}

.curriculo .container h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.curriculo .container button{
    width: 50%;
    margin-left: 40%;
}

.curriculo .container .cont-cont{
    display: flex;
}

.curriculo .container .cont-cont img{
    position: static;
    height: 400px;
}

.curriculo .container .cont-cont ul{
    margin-left: 50px;
}

.curriculo .container .cont-cont li{
    font-size: 18px;
    margin: 14px 0;
}

.contato{
    height: calc(100vh);
    padding: 90px;
}

.contato h1{
    text-align: center;
    margin-top: 50px;
}

.contato .container{
    margin-bottom: 20px;
    text-align: center;
}

.contato .container h3{
    font-weight: normal;
}

.contato .container .social{
    display: flex;
    justify-content: center;
}

#insta{
    margin-right: 10px;
}

#mail{
    margin-left: 10px;
}

.contato .container .social svg{
    width: 50px;
    height: 50px;
}

.contato .container .pimba{
    position: relative;
    margin-top: 230px;
    color: rgb(180, 180, 180);
    text-align: center;
}

@media(max-width:767px){
    header .container{
        width: 100%;
    }

    header .container img{
        display: inline;
        height: 80px;
        margin-bottom: 30px;
    }
    nav{
        border-bottom: 2px solid var(--pink);
    }
    nav img{
        display: none;
    }
    nav ul a{
        font-size: 16px;
        padding: 0 0 0 0;
        margin: 0 10px;
    }
    h1{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }
    .about-me {
        display: inline-flex;
        flex-direction: column;
        margin-left: -50px;
    }
    .about-me .img-container{
        padding-left: -80px;
    }
    .about-me .container{
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 480px){
    p{
        font-size: 10px;
    }
    header .container{
        padding: 0 30px;
    }
    header .container img{
        height: 60px;
    }
    nav{
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 10px;
        border-top: 2px solid var(--pink);
        border-bottom: none;
    }
    nav ul{
        justify-content: center;
    }
    nav ul a{
        font-size: 12px;
    }
    button{
        font-size: 16px;
        font-weight: 400;
    }
    h3{
        font-weight: 400;
    }
    .about-me .img-container{
        display: none;
    }
}
