@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{
    --dark-purple: #1A1A40;
    --purple: #270082;
    --light-purple: #7A0BC0;
    --pink: #E358FA;
    --light-pink: #FF77FA;
    --txt-white: #FFFFFF;

}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: var(--dark-purple);
}

body,button,input,select,textarea{
    font-family: 'Poppins','sans-serif';
    color: var(--txt-white);
}

h1{
    font-size: 34px;
    color: var(--pink);
}

h3{
    font-size: 26px;
}

p{
    font-size: 16px;
}

h1,h2{
    margin: 0;
    font-weight: 400;
}

button{
    background: var(--light-purple);
    border: 0;
    border-radius: 16px;
    padding: 10px 40px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
}

button:active{
    background: var(--purple);
}

header{
    /* background-color: red; */
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container{
    width: 50%;
    height: fit-content;
    padding: 0px 90px;
}

header .container img{
    display: none;
}

.logo{
    height: 60px;
}

nav ul a{
    color: var(--pink);
    font-size: 22px;
    text-decoration: none;
    margin: 0 69px;
}

nav{
    background-color: var(--dark-purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 90px;
    position: sticky;
    top: 0;
}

section{
    background: #838383;
    height: 1080px;
}

@media(max-width:767px){
    header .container{
        width: 100%;
    }

    header .container img{
        display: inline;
        height: 50px;
        margin-bottom: 30px;
    }
    nav img{
        display: none;
    }
    h1{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }
}